/* .cuadro{
    height: 200px;
    width: 200px;
    background-color: red;
}

.paisaje{
    display: none;
   
} */

/* trailers */
/* 
.centrar{
    text-align: center;
}
body{
    background-color: black;
}

h1{
    color: white;
} */